{% include "header.html" %}
{% block content %}

  <header class="masthead container-title" style="background-image: url({{ url_for('static', filename='images/about-image.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class='title'>About</h1>
            <span class="subtitle">A short introduction</span>
        </div>
      </div>
    </div>
  </header>

    <div class="row container-blog body-text">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                Hey there! My name is Rodrigo and I wrote this little blog as a proposed project from a programming course I took.
                I wrote about these three countries because, in my opinion, these are the most culturally rich countries in the world.
                Personally, I have visited both Egypt and Mexico, but never visited India.
            </p>

            <p>
                In fact, I am planning on doing so this year (2023) as well as to visit Pakistan. My plan is to visit Delhi, Agra, Jaipur (in the tourist
                lexicon, these three cities make up the famous "Golden Triangle"), Amritsar, then I want to attend the India/Pakistan border-ceremony
                (on the Indian side), cross the border into Pakistan, visit Lahore, go back to the border to attend the ceremony on the Pakistani side,
                and then visit Mohenjo-Daro (probably the oldest city ever), and finally, visit Karachi. Let's see how it goes!
            </p>

            <p>
                I was planning on adding China to the blog, but I feel like China is extremely overwhelming, and
                I would not know how to introduce it properly. Maybe when I am better versed in the history and culture of China, I'll add it to the blog.
            </p>

            <p>
                Cheers!
            </p>
        </div>
    </div>

{% endblock %}
{% include "footer.html" %}
