{% include "header.html" %}
{% block content %}

    <div class="container-title" style="background-image: url({{ url_for('static', filename='images/egypt-images/egypt-cover-image.jpg') }})">
          <h1 class='title'>Egypt</h1>
          <p class='subtitle'>The crossroads of the world</p>
    </div>

    <div class="container-blog body-text">
        <p class="text-blog-post">
            Egypt needs no introduction, yet, I am going to introduce it anyways. A place with a vast variety of landscapes from arid deserts to snow-capped
            mountains, variety of which is only rivaled by its ancient history that have inspired countless explorers, tales, travelers and many, many more.
            Let's take a look at the iconic Egypt!
        </p>

        <h1 class="post-title">The River Nile</h1>
        <img class='post-images' src="static/images/egypt-images/river-nile.jpg" alt="nile-river-img">
        <p class="text-blog-post">
            We start at the mighty River Nile. The longest river on the planet, the aorta artery of Egypt;
            possibly the most important body of fresh water in history, it is from the river nile that
            Egypt flourishes. Without the nile we would not have Egypt as we know it. The nile has been
            the source of drinkable water - indispensable for the nurturing of Egypt - for milennia in an otherwise inhospitable environment. Its fertile soil
            served as the hand that has fed the ages. People from all different walks of life have travelled far and wide to witness it.
            It has served as possibly the greatest trading hub and meeting point ever.
            Its preservation was of utmost importance for ancient egyptian civilisation who believe that gods, if not
            satisfied, would use no greater weapon than the river nile to cast their discontentment.
            Speaking of which...
        </p>

        <h1 class="post-title">Ancient Civilisation</h1>
        <img class='post-images' src="static/images/egypt-images/ancient-egypt.jpeg" alt="ancient-egypt-img">
        <p class="text-blog-post">
            Egyptian history and mythology is as rich as it gets... anywhere in the world.
            Thousands of years of dynasties and a pantheon of dieties to choose from. From
            Pharaohs Khufu, Khafre and Menkaure for which the Pyramids of Giza were their last resting place,
            to more 'modern' Pharaohs like Ramesses II, Tutankhamun, and Cleopatra, who lived
            thousands of years after the Pyramids of Giza were constructed and still thousands
            of years before us.
        </p>

         <h1 class="post-title">Islamic Heritage & the Modern Day</h1>
         <img class='post-images' src="static/images/egypt-images/islamic-egypt.jpg" alt="islamic-egypt-img">
         <p class="text-blog-post">
             Despite popular misconception, Egypt does not begin and end with its ancient history.
             Egypt has had a tremendous Islamic heritage, which is still going strong to this day.
             The city of Cairo, the capital of Egypt, is the largest in the Arab world and its influence
             is far-reaching. Not to mention that Egypt controls one of the most import passages
             for global trade (no, not the nile this time) - the Suez Canal - whose proper functioning
             is crucial for the global economy and the world we live in today.
         </p>

    </div>

{% endblock %}
{% include "footer.html" %}
