<footer class="footer">
  <ul class="footer-list">
    <li>
      <a href="mailto:ragponte@email.com" class="social-media-icons">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>

    <li>
      <a
        href="https://www.instagram.com/rodrigoagponte/"
        class="social-media-icons"
      >
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>

    <li>
      <a
        href="https://www.linkedin.com/in/rodrigo-ponte-3a58ba196/"
        class="social-media-icons"
      >
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>

    <li>
      <a href="https://github.com/rodrigoagponte" class="social-media-icons">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>

    <li>
      <a
        href="https://www.youtube.com/channel/UC45fsCf_Q1KY7oP7tDhtc1g"
        class="social-media-icons"
      >
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>

  <p class="copyright">© Copyright rodrigoagponte 2024</p>
</footer>
