{% include "header.html" %}
{% block content %}

    <div class="container-title" style="background-image: url({{ url_for('static', filename='images/india-images/india-cover-image.jpg') }})">
          <h1 class='title'>India</h1>
          <p class='subtitle'>Colorful sensory overload</p>
    </div>

    <div class="container-blog body-text">
        <p class="text-blog-post">
            You have to see India for yourself to believe it. One of the most distinct countries in the world, there is probably never a dull moment when in India
            (for better or worse). India is the country where everything changes in a couple of Kms - food, language, religion...
            Throughout its history, India has influenced the world probably more than any other country. Safe to say the world would be very different if there
            was no India in it. Jai Hind!
        </p>

        <h1 class="post-title">Architecture</h1>
        <img class='post-images' src="static/images/india-images/taj-mahal.jpg" alt="taj-mahal-img">
        <p class="text-blog-post">
            Where do I start with this one. Everytime I look at images of Saudi Arabia, the UAE, Qatar, and other oil-rich predominantly muslim countries
            all I see is larger than life skyscrapers. At the same time, I cannot sheikh the idea
            off my head that all these vanity projects are inspired by a north-american architectural standard. And then it occurs to me. Don't these
            people know the cultural heritage of their own religion? One does not need to look beyond the Indo-Gangetic Plain with cities such as Delhi, Agra, and Lahore (in Pakistan)
            to see the splendor of the Indo-Iranian mixture that is Mughal Architecture. Nowhere in the world have I seen better-looking buildings than those built by the Mughals
            in India (and Pakistan). The best part is that Mughal architecture is just the tip of the iceberg...
            Some of the most notable Indian architectural feats you should check out: Red Fort, Taj Mahal, Humayun's tomb (the previous three are Mughal),
            Kornak Sun Temple, Ellora Caves, Hampi, Rani Ki Vav, Sanchi Stupa, Hawa Mahal, Jal Mahal, Golden Temple (in Amritsar), and the Sri Ranganatha Swamy Temple.
        </p>

        <h1 class="post-title">Diversity</h1>
        <img class='post-images' src="static/images/india-images/holi-india.jpg" alt="holi-img">
        <p class="text-blog-post">
            India is huge. For much of its history there was a never a unified entity known as India (empires such as the Mauryan, Gupta, and Mughal came close to uniting the subcontinent
            with varying degrees of success). A unified India as we know it today is largely a product of the rushed decolonization process from Britain during and
            following WW2. It is often said that in India "languages changes every 50 Km" a testament to the incredible diversity of the country with the second-largest
            population in the world. One thing all indians have in common though is the pride with which they end the sentence of the guy with the megaphone:
            HINDUSTAN... ZINDARBAD!
        </p>

         <h1 class="post-title">Cultural Heritage</h1>
         <img class='post-images' id="ganesha-image" src="static/images/india-images/ganesha.jpg" alt="ganesha-img">
         <p class="text-blog-post">
             Few people are aware of this, but the Indian subcontinent (I say Indian subcontinent because I don't want to leave out the brother countries of
             Pakistan and Bangladesh) is responsible for many of the most important human innovations ever: Civilization? Indian subcontinent
             (see Indus Valley Civilization). Numbers? Indian subcontinent. The game of chess? INDIAN SUBCONTINENT. Moreover, traditions and religion in India
             have deeply impacted neighboring regions of the world, especially Southeast Asia, which is part of the sphere of influence known as
             "Greater India". Buddhism, for instance, is one of the most prevalent religions in that part of the world, and the script of languages such a Burmese,
             Thai, and Khmer are directly influenced by scripts originating in the India subcontinent.
         </p>

    </div>

{% endblock %}
{% include "footer.html" %}
