{% include "header.html" %}
{% block content %}

    <div class="container-title" style="background-image: url({{ url_for('static', filename='images/mexico-images/mexico-cover-image.jpg') }})">
          <h1 class='title'>Mexico</h1>
          <p class='subtitle'>The meeting that changed us forever</p>
    </div>

    <div class="container-blog body-text">
        <p class="text-blog-post">
            The American Continent is one of the most fascinating regions of the world. The encounter between americans and europeans can only be described has
            what sci-fi movies would imagine the meeting of two alien civilisations - the clash of two completely different worlds.
            Despite this, the old world and the new world had much more in common than we may think. Mexico is the where the two worlds clashed.
            There is a reason why one of the most important squares in Mexico City is called "Plaza de las Tres Culturas" referencing the broad cultural
            periods of the history of Mexico - Pre-Columbian, Spanish Colonial, and the Independent Nation-State of Mexico.
        </p>

        <h1 class="post-title">Pre-Columbian History</h1>
        <img class='post-images' src="static/images/mexico-images/pre-columbian-mexico.jpg" alt="pre-columbian-mexico-img">
        <p class="text-blog-post">
            The arrival of Christopher Columbus and his crew is the American Continent is, without a doubt, one of the Marker Horizons of human history.
            In many ways, from the european perspective, referring to the pre-columbian American Continent as a "New World" is not so much hyperbolic as
            it is accurate - the flaura was different, the fauna was different, the landscapes were different, the people and their languages, and religions,
            and traditions were different. No other country in the Americas epitomises this more than Mexico - home of some of the most fascinating and mysterious
            civilisations not just in the Americas, but in the entire world, including the Olmecs, Maya, Zapotecs, Teotihuacan, Toltecs, and Aztecs, just to name a few.
            The best part? Unlike many other countries in the Americas who shun their pre-columbian history and heritage, Mexico takes pride in it and embraces it,
            particularly that of the Aztecs. So much so that renowned Mexican writer, Octavio Paz, has criticized the National Museum of Anthropology
            in Mexico City for making the Mexica (Aztec) hall central, to the detriment of the history from other parts of the country, saying that the
            "exaltation and glorification of Mexico-Tenochtitlan transforms the Museum of Anthropology into a temple". I get his point, but I cannot blame the
            museum curators; the Aztecs are awesome. Speaking of which...
        </p>

        <h1 class="post-title">Mexico-Tenochtitlan (Mexico City)</h1>
        <img class='post-images' src="static/images/mexico-images/mexico-city.jpg" alt="mexico-city-img">
        <p class="text-blog-post">
            CDMX, Ciudad de México, Tenochtitlan, Mexico City, Mexico-Tenochtitlan... the second-largest city in the Americas (behind São Paulo, Brazil).
            You really have to be there just to grasp how much of a juggernaut of a city CDMX truly is. The former Mexica (the name the Aztecs used to refer
            to themselves, which would later serve as an inspiration for the name of the independent nation of Mexico) capital would have been a site to behold
            before the Spanish invasion - a city built on a lake surrounded by mountains, one of the largest in the world at the time (that has not changed).
            After the fall of the Mexica empire, the Spanish set out to destroy Tenochtitlan and rebuild a new city according to their own vision.
            Today, Mexico City is an absolute must-visit with no shortage of things to do and a very distinct character... and the food...
        </p>

        <h1 class="post-title">Food</h1>
        <img class='post-images' id="mexico-food-image" src="static/images/mexico-images/mexico-food.jpg" alt="mexico-food-img">
        <p class="text-blog-post">
            Mexico is more than a foodies paradise. It is the country with the best cuisine in the world, full stop.
            Traditional dishes like tacos, enchiladas, huaraches, and more, will leave you wishing you had asked the street food vendor the recipe, so you
            can replicate it at home. At least there is youtube...
            Did I mention that the Americas, in general, and Mexico, in particular, are the birthplace of foods you take for granted?
            Can you imagine Italy without pizza? India without chilli? How about Switzerland without chocolate?
            Well, tomatoes, chillis, and chocolate beans are native to Mexico. There was none of that outside of the Americas before 1492.
            On a lower note, both tobacco and syphilis are also native to the Americas. We all know the health hazards associated with tobacco and if the indigenous
            americans could not effectively prevent the spread of smallpox, specially with no immunity to it, syphilis, much like lung cancer caused by smoking tobacco,
            is preventable.
        </p>

    </div>

{% endblock %}
{% include "footer.html" %}
